<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.epigen.autocommit</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>/Users/dtrimcev/Dropbox/Work_Main/EpiGen/scripts/auto_commit.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>1500</integer>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/dtrimcev/Dropbox/Work_Main/EpiGen/scripts/auto_commit.launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/dtrimcev/Dropbox/Work_Main/EpiGen/scripts/auto_commit.launchd.log</string>
</dict>
</plist>
